<% include ./partials/header %>

<div class="container main">
  <br/>
  <div>
  <h1>Recommended Whiskies</h1>
  </div>
  <br/>
  <div>
    <% whiskies.forEach(function(whisky) { %>
      <div class="row pb-3">
        <div class="col-md-3">
          <img class="bottle-box px-5 py-1 img-thumbnail" src="<%= whisky.image %>"/>
        </div>
        <div class="col-md-9">
          <h2 class="mb-2"><%= whisky.name %></h2>
          <h5>Origin: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= whisky.origin %></h5>
          <h5>Type: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= whisky.type %></h5>
          <h5 class="mb-3">Summary: &nbsp; &nbsp; &nbsp; <%= whisky.summary %></h5>
          <a class="btn btn-sm btn-outline-primary block" href="/whiskies/<%= whisky._id %>">View More Details</a>
        </div>
      </div>
    <% }); %>
  </div>
  <br/>
  <a class="btn btn-sm btn-outline-info inline-button" href="/whiskies/new">Add New Whisky</a>
</div>

<% include ./partials/footer %>
